.App {
  text-align: center;
}

.App-header {
  background-color: #2f0048;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html{
  scroll-behavior: smooth;
}

main{
  background-color: #3f0958;
  color :white
}

.App-todo {
  background-color: #3f0958;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-todo li {
  list-style-type: circle;
  text-align: left;
}

.navbar {
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  background-color: #2f0048;
  justify-content: center;
  align-items: center;
  border-bottom: lightslategrey solid 1px;
}

.navbar ul{
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
}

.navbar a {
  padding: 1vmin;
  margin: 2vmin;
  color: white;
  text-decoration: none;
  transition: all 0.3s ease; 
}

.navbar a:hover {
  text-decoration: underline;
}

.title {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}


.typed {
  font-size: 2rem; 
  white-space: nowrap; 
  overflow: hidden; 
  display: inline-block;
  width: 0; 
  border-right: 4px solid white;
  padding-right: 3px;
  animation: typed 3s steps(40) 1s 1 normal both, blink 0.75s step-end infinite;
}

.typed.animation-complete {
  border-right: 0px;
}

@keyframes typed {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}